.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
}
.App-subtitle {
  font-size: calc(10px + 1vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61dafb;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Animation-icon {
  width: 100px;
  height: 100px;
  color: yellow;
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 1200px;
    top: 0px;
  }
}

.Animation-icon-earth {
  font-size: 40px;
  color: red;
  position: relative;
  animation-name: example;
  animation-duration: 500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(225deg);
}
