@font-face {
  font-family: Kanit;
  src: url('./assets/Kanit-Bold.ttf');
}

.App {
  text-align: center;
  background-image: url('./assets/stars-1436950_1920.jpg');
  background-size: cover;
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}
.App-subtitle {
  font-size: calc(10px + 1vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #619efb;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  font-family: Kanit;
}

.App-link {
  color: #619efbe0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Animation-icon {
  width: 100px;
  height: 100px;
  color: yellow;
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.label {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.rowContainer {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 100px 20px 100px;
  width: 1200px;
}
.textcontainer {
  width: 250px;
}
.paragraph {
  width: 300px;
  margin-top: 50px;
  margin-left: 50px;
  height: 65vh;
  background-color: rgb(43, 43, 43);
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 1000px;
    top: 0px;
  }
}

.Animation-icon-earth {
  font-size: 40px;
  color: blue;
  position: relative;
  animation-name: example;
  animation-duration: 5000s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(225deg);
}

.Animation-icon-comet {
  font-size: 40px;
  color: red;
  position: relative;
  animation-name: example;
  animation-duration: 3083s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(225deg);
}

.Animation-icon-milkyway {
  font-size: 40px;
  color: yellowgreen;
  position: relative;
  animation-name: example;
  animation-duration: 258s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(225deg);
}

.Animation-icon-solarsystem {
  font-size: 40px;
  color: orange;
  position: relative;
  animation-name: example;
  animation-duration: 749s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(225deg);
}
